CrossOverStock.Services/Web References/StockExchange/StockPrice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPricesByCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codes" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPricesByCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPricesByCodesResult" type="tns:ArrayOfPriceModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPriceModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PriceModel" nillable="true" type="tns:PriceModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StockCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPricesByCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPricesByCodes" />
  </wsdl:message>
  <wsdl:message name="GetPricesByCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPricesByCodesResponse" />
  </wsdl:message>
  <wsdl:portType name="StockPriceSoap">
    <wsdl:operation name="GetPricesByCodes">
      <wsdl:input message="tns:GetPricesByCodesSoapIn" />
      <wsdl:output message="tns:GetPricesByCodesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockPriceSoap" type="tns:StockPriceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPricesByCodes">
      <soap:operation soapAction="http://tempuri.org/GetPricesByCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockPriceSoap12" type="tns:StockPriceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPricesByCodes">
      <soap12:operation soapAction="http://tempuri.org/GetPricesByCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockPrice">
    <wsdl:port name="StockPriceSoap" binding="tns:StockPriceSoap">
      <soap:address location="http://localhost:1758/StockPrice.asmx" />
    </wsdl:port>
    <wsdl:port name="StockPriceSoap12" binding="tns:StockPriceSoap12">
      <soap12:address location="http://localhost:1758/StockPrice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>